/*======================*/
/*----- POSITIONING ----*/
/*======================*/

.minibio {
  text-align: left;
  margin: -160px auto 10px auto;
}

.myft {
  text-align:right;
  color: #000033;
}

.headshot {
  margin-left: 40px;
  margin-bottom: 15px;
}

/*======================*/
/*------- STYLING ------*/
/*======================*/

body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #000033;
}

.title {
  margin: 40px 0 20px 35%;
  width: 300px;
  height: 300px;
  background-color: #00CCFF;
  border-radius: 150px;
  box-shadow: -1em -1em 0 1em rgba(0, 204, 255, .5);
  padding: 5em 2em 2em 4em;
}

.headshot {
  border-radius: 75px;
  box-shadow: .5em -.5em 0 .5em rgba(0, 204, 255, .5);

}

.modal-title {
  font-size: 2.5em;
}

.modal-header {
  background-color: #00CCFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h1 {
  font-family: 'Pacifico' serif;
  color: #000055;
  font-size: 90px;
  text-align: right;
}

h4 {
  padding: 0px 5px 5px 15px;
  color: #000055;
}

.myft {
  background-color: #00CCFF;
  padding-top: 5px;
}

.backgroundImg {
  background-color: #000066;
  background-image: url("imgs/backgroundimg.jpg");
  background-size: 100% 100%;
  width: 100%;
  min-height: 300px;
}

.mybtn {
  width: 200px;
  height:200px;
  background-color: #00CCFF;
  border-radius: 100px;
  box-shadow: 15px -15px 0 18px rgba(0, 204, 255, .5);
  font-family: 'Pacifico' serif;
  font-size: 2em;
  text-align: center;
  margin: 70px;
  padding: 2.5em 1em;
  color: #000055;
}

.mybtn:hover {
  box-shadow: 15px -15px 0 15px rgba(0, 204, 255, .5);
  color: #000077;
}

.mybtn:active {
  box-shadow: 15px -15px 0 24px rgba(0, 204, 255, .5);
  color: #000099;
}

/*======================*/
/*----- ANIMATIONS -----*/
/*======================*/

