/*======================*/
/*----- POSITIONING ----*/
/*======================*/

.row {
  display: -mox-flex;
  display: -webkit-flex;
}

.colHalf {
  width: 50%;
}

.colThird {
  width: 50%;
}

#titleBox {
  width: 300px;
  height: 100px;
  margin: 100px 0px 0px 50%;
  float: right;
  text-align: right;
}

.bobble {
  width: 200px;
  height: 200px;
  margin: 10px;
  float: right;
}

.smallBobble {
  width: 60px;
  height: 60px;
  margin: 10px;
  float: left;
}

/*======================*/
/*------- STYLING ------*/
/*======================*/

body {
  background-color: #281D48;
}

div {
  border: 1px dotted gray;
}

h1 {
  font-family: Codystar, cursive;
  font-style: normal;
  font-weight: 400;
  color: #FCFFC8;
  margin: 0px;
  src: local('Codystar'), url(http://fonts.gstatic.com/s/codystar/v4/vO78uQGcYk_rDbnNA1ruZHYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
}

h2 {
  margin-top: 0px;
  font-family: Codystar, cursive;
  margin: 40% 20%;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0px;
}

#titleBox {
  background-color:#E7E968;
  border-radius: 10px;
}

.bobble {
  background-color: #C6FF13;
    background-image: radial-gradient(farthest-corner at 60% 30%, #FCFFC8 20% , #E7E968 80%);
  border-radius: 50%; -webkit-animation: pulseDiv 4s infinite,
  bounce 3s infinite;
}

.smallBobble {
  background-color: #C6FF13;
  background-image: radial-gradient(farthest-corner at 60% 30%, #FCFFC8 10% , #E7E968 80%);
  border-radius: 50%; -webkit-animation: pulseDiv 4s infinite,
  bounce 3s infinite;
}

.footer {
  background-color: #C6FF13;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 20px;
  background: #EDFBA8;
/*  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);*/
}

.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
/*  text-decoration: none;*/
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
/*  box-shadow: 1px 1px 3px #000;*/
}

.close:hover { background: #00d9ff; }

/*======================*/
/*----- ANIMATIONS -----*/
/*======================*/

/*@-webkit-keyframes pulseDiv {
  0 % {
    box-shadow: 1px 1px 10px #35D801}
  50% {box-shadow: 1px 1px 40px #FAFF95
  }
  100 % {
    box-shadow: 1px 1px 2px #35D801}
}

@-webkit-keyframes bounce {
  0% { margin: 40px auto;}
  50% { margin: 30px auto;}
  100% { margin: 40px auto;}
}
*/
