/*======================*/
/*----- POSITIONING ----*/
/*======================*/

.minibio {
  text-align: left;
  padding: 10px;
  margin: -100px auto auto;
}

.myft {
  text-align:right;
  color: #000033;
}

/*======================*/
/*------- STYLING ------*/
/*======================*/

body {
  font-family: 'Trebuchet MS', sans-serif;
  color: #000033;
}

.title {
  margin: 40px 0 20px 35%;
  width: 300px;
  height: 300px;
  background-color: #00CCFF;
  border-radius: 150px;
  box-shadow: -1em -1em 0 1em rgba(0, 204, 255, .5);
  padding: 5em 2em 2em 4em;
}

h1 {
  font-family: 'Pacifico' serif;
  color: #000033;
  font-size: 90px;
  text-align: right;
}

h4 {
  padding: 5px 5px 5px 15px;
}

.myft {
  background-color: #00CCFF;
  padding-top: 5px;
}

.backgroundImg {
  background-image: url("imgs/backgroundimg.jpg");
  background-size: 100% 100%;
  width: 100%;
  min-height: 300px;
}

.mybtn {
  width: 200px;
  height:200px;
  background-color: #00CCFF;
  border-radius: 100px;
  box-shadow: 15px -15px 0 18px rgba(0, 204, 255, .5);
  font-family: 'Pacifico' serif;
  font-size: 2em;
  text-align: center;
  margin: 70px;
  padding: 2.5em 1em;
  color: #000033;
}

.mybtn:hover {
  box-shadow: 15px -15px 0 15px rgba(0, 204, 255, .5);
}

.mybtn:active {
  box-shadow: 15px -15px 0 24px rgba(0, 204, 255, .5);
}

/*======================*/
/*----- ANIMATIONS -----*/
/*======================*/

